.main{
    background-image: url('../../assets/Rectangle\ 23.png');
    background-blend-mode: multiply;
    background-color: #060912;
}

.content{
    height: 90vh;
    width: 100%;
    bottom: 0%;
    position: absolute;
    border-top-right-radius: 4rem;
    border-top-left-radius: 4rem;
}