.banner{
    height: 200px;
    background-image: url('../../assets/Rectangle\ 23.png');
    background-blend-mode: multiply;
    background-color: #060912;

    position: relative;
    z-index: 1;
}

.main{
    background-image: url('../../assets/Rectangle\ 27.png');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: #DEE7FF;

    height: calc(var(--vh, 1vh) * 100);

    height: 100vh;
    position: relative;
    overflow: hidden;
}

.active{
    color: green !important;
}


// .main::after{
//     content: '';
//     height: 100vh;
//     width: 100%;
//     position: absolute;
//     top: 0%;
//     left: 0%;
//     background-color: red;
//     z-index: 0;
// }