<div class="main">

<div class="banner d-flex align-items-end">

        <div class="input-group m-5 bg-light rounded">
            <div class="input-group-btn bg-light rounded-circle">
                <button class="btn btn-default" type="submit">
                  <i class="fa-solid fa-search"></i>
                </button>
              </div>
          <input type="text" class="form-control" placeholder="Search">
          
        </div>

    </div>

    <img style="position: absolute; width: 100%; left: 0;" src="../../assets/Man wearing face mask and holding mobile.png">

    <!-- <div class="icons d-flex align-items-center justify-content-center">
        <img src="../../assets/Doctor.png">
        
    </div> -->

    <div class="row m-0 align-items-center animate__animated animate__backInUp" style=" position: absolute; bottom: 0%; width: 100%; min-height: 200px; ">

        <div class="col-4 mt-2 text-center" > <div class="bg-dark rounded-circle p-4"  > <i class="fa-solid fa-shopping-cart fa-2x text-light"></i> <br> <span class="text-light"> Cart </span>  </div> </div>

        <div class="col-4 text-center mb-5" > <div class="bg-dark rounded-circle p-4" routerLink="/home" routerLinkActive="active"  > <i class="fa-solid fa-house fa-2x text-light"></i>  <br> <span class="text-light"> Home </span> </div> </div>

        <div class="col-4 mt-2 text-center"> <div class="bg-dark rounded-circle p-4"  > <i class="fa-solid fa-house-medical-circle-check fa-2x text-light"></i> <br> <span class="text-light"> Consult </span>  </div> </div>

    </div>

</div>

 